<form [formGroup]="fieldForm" class="space-y-6 p-6 rounded-lg">
  <nz-form-item>
    <nz-form-label nzFor="label" class="block text-gray-700 font-semibold mb-1"
      >Label</nz-form-label
    >
    <nz-form-control>
      <input
        nz-input
        formControlName="label"
        id="label"
        placeholder="Enter field label"
        class="w-full p-2 border border-gray-300 rounded-md"
      />
      <div
        *ngIf="
          fieldForm.get('label')?.invalid && fieldForm.get('label')?.touched
        "
        class="text-red-500 mt-1 text-sm"
      >
        Label is required.
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      nzFor="placeholder"
      class="block text-gray-700 font-semibold mb-1"
      >Placeholder</nz-form-label
    >
    <nz-form-control>
      <input
        nz-input
        formControlName="placeholder"
        id="placeholder"
        placeholder="Enter placeholder text"
        class="w-full p-2 border border-gray-300 rounded-md"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label
      nzFor="validationMessage"
      class="block text-gray-700 font-semibold mb-1"
      >Validation Message</nz-form-label
    >
    <nz-form-control>
      <input
        nz-input
        formControlName="validationMessage"
        id="validationMessage"
        placeholder="Enter validation message"
        class="w-full p-2 border border-gray-300 rounded-md"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item
    *ngIf="fieldType === 'dropdown' || fieldType === 'radio'"
    formArrayName="options"
  >
    <nz-form-label
      nzFor="options"
      class="block text-gray-700 font-semibold mb-1"
      >Options</nz-form-label
    >
    <div class="space-y-2">
      <ng-container *ngFor="let t of optionsOfForm.controls; let i = index">
        <div class="flex items-center space-x-2">
          <div [formGroupName]="i" class="flex-grow">
            <input
              nz-input
              formControlName="option"
              id="option"
              placeholder="Enter option"
              class="w-full p-2 border border-gray-300 rounded-md"
            />
          </div>
          <button
            type="button"
            class="text-red-500 hover:text-red-700"
            (click)="optionsOfForm.controls.length > 1 && removeType(i)"
            [hidden]="optionsOfForm.controls.length === 1"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
      </ng-container>
      <button
        type="button"
        class="bg-slate-200 px-3 py-2 rounded-sm"
        (click)="addType()"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </nz-form-item>
</form>
